.wrapper {

  .container {
    display: flex;
    margin-top: 5px;

    .taskStatusContainer {
      width: 250px;
      display: flex;
    }

    .titleContainer {
      width: 550px;
    }

    .buttonsContainer {
      display: flex;
      width: 200px;
      justify-content: center;
    }
  }
}