.wrapper {
  display: flex;

  .daysContainer {
    display: flex;
    min-width: 250px;

    span {
      height: 30px;
      width: 30px;
      margin: 0 2px;
      display: flex;
      justify-content: center;
    }
  }
}