.wrapper {
  display: flex;

  .daysContainer {
    display: flex;
    min-width: 250px;

    span {
      height: 30px;
      width: 30px;
      margin: 0 2px;
      display: flex;
      justify-content: center;
    }
  }
  .titleContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 550px;
  }
  .actionContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
  }
}